<html>
    <body style="font-family: Times New Roman; font-size: 12pt;">

    <p>Здравствуйте, {name}!</p>

    <p>Вам открыт доступ на сайт дистанционного обучения УМЦ ГОЧС и ПБ</p>

    <p><b>Ваши данные для входа:</b></p>

    <p>
    <b>логин: {login}</b><br>
    <b>пароль: {password}</b>
    </p>

    <p>
    Ссылка для перехода на сайт ДО:<br>
    <a href="https://sdo.umcgochs-irkutsk.ru/login" target="_blank">https://sdo.umcgochs-irkutsk.ru/login</a>
    </p>

    <p>
    Порядок работы в системе дистанционного обучения:<br>
    <a href="https://umcgochs-irkutsk.ru/index.php/info/obuchenie-v-do" target="_blank">https://umcgochs-irkutsk.ru/index.php/info/obuchenie-v-do</a>
    </p>

    <p>
    Период обучения с {date_from} по {date_to} до <b>14:00 пятницы.</b>
    </p>

    <p style="color: red;"><b>ВНИМАНИЕ!</b></p>

    <p>
    <b>
    Не следует пытаться вручную вводить логин и пароль, рекомендуем копировать данные из присланного письма<br>
    Не пытайтесь самостоятельно создавать новую учетную запись! Все необходимые данные для входа указаны в данном письме.
    </b>
    </p>

    <p>
    <b><i>Это письмо сформировано автоматически</i></b>. Не направляйте сообщения на адрес отправки данного уведомления – любые сообщения на этот адрес будут без рассмотрения автоматически удалены.
    </p>

    </body>
</html>